pandas
tqdm
numpy 
kaggle
pymongo
jupyter
flask
flask_cors
textblob
pyspellchecker
nltk
tqdm
torch
sentence-transformers
python-dotenv
pickle5
markdown
flask_cors
pandas
tpdm
nltk
pyspellchecker
pymongo
requests
scann
