.App {
  display: flex;
  flex-direction: column;
  align-items: center;

}​

.toggle_switch {
  float:right;
  justify-content:'flex-end';
  display: 'flex';
  justifyContent:'flex-end';

}

.SearchOptions {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

}

.Options {
  margin-top: 50px;
  margin-bottom: 30px;
}